# SUPABASE_URL: Your Supabase project URL
VITE_SUPABASE_URL=
# SUPABASE_ANON_KEY: Your Supabase anonymous API key
VITE_SUPABASE_ANON_KEY=

# GEMINI_API_KEY: Your Gemini API key
GEMINI_API_KEY=

# AFRICA_S_TALKING_USERNAME: Your Africa's Talking username (use 'sandbox' for testing)
AFRICA_S_TALKING_USERNAME=sandbox
# AFRICA_S_TALKING_API_KEY: Your Africa's Talking API key
AFRICA_S_TALKING_API_KEY=
